/* Contenedor del formulario */
.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  flex-direction: column;
}

/* Formulario con 3 columnas */
.formulario {
  display: grid; /* Usamos CSS Grid */
  grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
  gap: 20px; /* Espacio entre las columnas y los campos */
  width: 80%;
  max-width: 1000px; /* Controla el tamaño máximo del formulario */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left:20px;
  margin-right:20px;
} 

/* Cada div que contiene un campo */
.formulario div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Añadimos más margen entre los campos */
}

/* Etiquetas de los campos */
.formulario label {
  margin-bottom: 8px;
  font-size: 1rem;
}

/* Campos de entrada y select */
.formulario input,
.formulario select {
  padding: 12px; /* Aumentamos el tamaño del padding para más espacio */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%; /* Asegura que los inputs ocupen el 100% del ancho disponible */
}

.form-error {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .formulario {
    margin-left:10px;
    margin-right:10px;
    grid-template-columns: 1fr; /* En pantallas pequeñas, pasamos a una sola columna */
  }
}
